@CHARSET "UTF-8";

* {margin:0; padding:0;}
body {
	font-family:PingFangSC-Medium;
}
header {
	padding:20px;
	background:#4285F7 100%;
	/* overflow:hidden; */
	color:#FFFFFF
}

header h1 {
	margin:0;
	font-size: 24px;
}

#searchInput{
	border-radius: 5px;
}
.u-panel{
	padding-top:10px;
}
.u-panel a {
	color:#AAC8FB;
}
.u-panel a:hover {
	color:#FFFFFF;
}
.u-panel>a {
	padding:5px 10px;
}
.u-panel a:hover +div {
	display: block;
}
.u-panel div:hover {
	display: block;
}
.u-panel div {
	display: none;
}
.logout-panel{
	z-index: 99;
	position: absolute;
	background:#4285F7 100%;
	border-radius: 5px;
}

.logout-panel ul li{
	padding:5px 10px;
	list-style-type:none;
}

#top-menu ul{
	text-align:center;
}
#top-menu ul li {
	font-size: 16px;
	padding:5px;
}
#top-menu ul li a {
	color: #AAC8FB;
}
#top-menu ul li.active a {
	color: #FFFFFF;
}

#main {
	padding:15px;
	/* background: #D8D8D8; */
}
#main table {
	margin-top:15px;
}
.tab-content>div{
	padding-top:15px;
}
table+div.bottom {
	margin-top:10px;
}
fieldset>div {
	padding-bottom:15px;
	margin-top:10px;
}
fieldset>div>div {
	margin-top:10px;
}
fieldset label {
	text-align: right;
	margin-bottom:0;
	margin-top: 7px;
	float:left;
	min-width:85px;
}

.label5{
	width:80px;
}
#detail thead>tr {
	background:#f7f7f7;
}
#detail td,th {
	padding:5px;
}
.attr-pannel {
	border: solid 1px #ccc;
}
.attrTable{
	width:90%;
	margin-left:6%;
}
.op-save {
	margin: 10px 0 50px 90%
}
footer{
	clear:both;
	text-align:center;
}
